body {
  background-color: #000;
  font-family: 'ark-pixel-10px-monospaced-ja', normal;
  color: #a020f0;
}

@font-face {
  font-family: 'ark-pixel-10px-monospaced-ja';
  src: url('/ark-pixel-10px-monospaced-ja.ttf') format('ttf');
}

h1, h2, h3, h4, h5, h6 {
  color: #ff69b4;
  font-family: 'ark-pixel-10px-monospaced-ja', monospace;
}
.news-section {
  background-color: #111;
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  border-right: 2px solid #ff69b4;
}
.blog-section {
  padding: 1rem;
  overflow-y: auto;
  height: 100vh;
}
.blog-card {
  background-color: #222;
  color: #a020f0;
  border: 1px solid #ff69b4;
  border-radius: 12px;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(255, 105, 180, 0.2);
}
.blog-card:hover {
  box-shadow: 0 6px 12px rgba(255, 105, 180, 0.4);
}
