/* Global Styles */
body, h1, h2, p, a {
    font-family: 'ark-pixel-10px-monospaced-ja', monospace;
    margin: 0;
    padding: 0;
    color: white;
}

@font-face {
    font-family: 'ark-pixel-10px-monospaced-ja';
    src: url('ark-pixel-10px-monospaced-ja.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(45deg, #003566, #000814);
    background-size: 400% 400%;
    animation: gradientShift 30s ease infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #ffc300;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #ffd60a;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a:hover {
    color: #ffd166;
}

/* Section Styles */
section {
    margin: 50px auto;
    max-width: 80%;
    text-align: center;
}

#about-us {
    padding: 30px 0;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 30%;
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
    border: 3px solid #3f8efc;
    border-radius: 10px;
}

.project p {
    margin-top: 15px;
    color: #87bfff;
}

/* New Posts Section */
#posts {
    margin-top: 50px;
}

.post {
    background-color: #003566;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #3f8efc;
    text-align: left;
}

.post h3 {
    color: #ffd60a;
    font-size: 1.5em;
}

.post .post-date {
    font-size: 0.9em;
    color: #87bfff;
}

.post p {
    color: #b0c4de;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #003566;
}

/* Animations */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
